.cabecalho{
    background-color: rgb(136, 73, 6);
    color: black;
    display: flex;
     padding: 24px 0;
} 
    
.section1{
    background-color: rgb(222, 155, 68);
}

.section2{
    background-color: rgb(231, 189, 137);
}