.cabecalho{
    background-color: brown;
    color: black;
    display: flex;
     padding: 24px 0;
} 
    
.section1{
    background-color: antiquewhite;
}

.section2{
    background-color: bisque;
}